{% extends 'tasks/base.html' %} {% block content %}
<style>
    .card {
        margin-top: 30px;
    }

  .card-title > input {
            width:-webkit-fill-available;
  }

    {% comment %} p {
      color: white;
      font-size: 25px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    } {% endcomment %}
</style>
<div class="container">
  <form method="POST" action="">
    {% csrf_token %}

    <div class="card">
      <h5 class="card-header">Update Todo</h5>
      <div class="card-body">
        <h5 class="card-title">Title {{form.title }}</h5>
        <p class="card-text"><strong>Complete : {{form.complete}}</strong></p>
        <button type="submit" class="btn btn-primary" name="update-task">
          Update
        </button>
      </div>
    </div>
  </form>
  {% endblock %}
</div>
